:root {
  font-size: 10px;
}

body {
  height: 100vh;
  background-color: #eee;
}

.App {
  box-sizing: border-box;
  text-align: center;
  color: #222;
  display: grid;
  grid-template-rows: 4rem 1fr;
  gap: 20px;
}

main {
  max-width: 960px;
  margin: 0 auto;
  font-size: 2rem;
  display: grid;
  background: #aaa;
  border-radius: 20px;
  gap: 40px;
}

.button {
  width: 300px;
  border: 1px solid #222;
  border-radius: 5px;
  text-decoration: none;
  color: #222;
  font-size: 2rem;
}