:root {
  font-size: 10px;
  box-sizing: border-box;
}

html {
  height: 100%; 
}

body {
  min-height: 100%;
} 

.App {
  box-sizing: border-box;
  text-align: center;
  color: #222;
  display: grid;
  grid-template-columns: 100px 1fr;
}

.button {
  width: 300px;
  border: 1px solid #222;
  border-radius: 5px;
  text-decoration: none;
  color: #222;
  font-size: 2rem;
}

nav {
  width: 100px;
  background: #bada55;
  height: 100vh;
  z-index: 2;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

nav img {
  width: 50px;
  height: 50px;
  justify-self: center;
  margin-top: 20px;
}

nav button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 20px;
  background: transparent;
  border: 3px solid #eee;
  color: #eee;
  border-radius: 5px 5px 5px 5px;
  font-size: 4rem;
  line-height: 4rem;
  left: 25px;
}

nav a {
  text-decoration: none;
  color: #eee;
}

nav .social-media {
  position: absolute;
  bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

nav .resume {
  grid-column: span 2;
}

nav a {
  align-self: flex-end;
}

nav .social-media__icons {
  width: 40px;
  height: 40px;
}

.nav-drawer {
  transition: transform 2s ease-in-out;
  position: absolute;
  z-index: 1;
  width: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 100vh;
  display: grid;
  left: 100px;
  color: #eee;
  text-decoration: none;
}

.selected {
  color: black;
}

.selected::before {
  content: "👉";
  margin-right: 5px;
}

.nav-drawer a {
  font-size: 6rem;
  display: inline;
  align-self: center;
  text-align: left;
  margin-left: 25%;
}

.nav-drawer a:hover {
  color: #222;
}

.drawer-open {
  width: 100vw;
  background: #bada55ee;
}

.home h2{
  font-size: 5rem;
}