/* 

------------   PAGE WIDE   -------------

*/

:root {
  --green: #bada55;
  box-sizing: border-box;
  font-size: 10px;
}

html {
  background: #eeeeee;
}

body {
  min-height: 100%;
} 

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.App {
  box-sizing: border-box;
  text-align: center;
  color: #222;
  display: grid;
}

/* -----------------------------------

-----           NAV BAR          -----

----------------------------------  */

nav {
  width: 100px;
  background: var(--green);
  height: 100vh;
  z-index: 2;
  position: fixed;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

nav .nav-menu,
nav img {
  width: 40px;
  height: 40px;
  justify-self: center;
  margin-top: 20px;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: #eee;
}

nav .social-media {
  position: absolute;
  bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

nav .resume {
  grid-column: span 2;
}

nav .social-media__icons {
  width: 40px;
  height: 40px;
}

.nav-drawer {
  transition: transform 2s ease-in-out;
  position: absolute;
  z-index: 1;
  width: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 100vh;
  display: grid;
  left: 100px;
  color: #eee;
  text-decoration: none;
}

.selected {
  color: black;
  text-decoration: underline;
}

.nav-drawer a {
  font-size: 6rem;
  display: inline;
  align-self: center;
  text-align: left;
  margin-left: 25%;
}

.nav-drawer a:hover {
  color: #222;
}

.drawer-open {
  width: 100vw;
  background: #bada55ee;
}

/* --------------------------------------
   ------    MAIN PAGES            -------
  -----------------------------------  */

main {
  display: grid;
  width: 80%;
  margin: 0 auto;
  padding-left: 100px;
}

.home--title {
  font-size: 8rem;
  margin: 0;
  margin-top: 25vh;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .home--title {
    margin-top: 10vh;
  }
  nav {
    width: 60px;
  }

}

.home--title span {
  color: var(--green);
  font-weight: 500;
}

.home--subtitle {
  font-size: 5rem;
  font-weight: 300;
}

.home--text {
  font-size: 2rem;
  font-weight: 500;
  max-width: 60%;
  margin: 20px auto;
}

.home--cta {
  font-size: 3rem;
  justify-self: center; 
  text-decoration: none;
  color: var(--green);
}

.home--cta:hover {
  color: #111;
}

/* -------------------------------------
------      ABOUT PAGE         --------
-------------------------------------- */

.about {
  text-align: left;
  margin-left: 10%;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .about {
    margin-left: 0;
  }
}

.about--title,
.projects--title {
  font-size: 5rem;
  margin-top: 15vh;
  font-weight: 300;
  align-self: center;
}

.about--image {
  position: absolute;
  left: 60%;
  top: 25%;
}

.about--headline,
.about--skills  {
  font-size: 2rem;
  margin-top: 3%;
}

.about--headline {
  width: 50%;
}

.about--text {
  margin-top: 4vh;
  font-size: 1.4rem;
  max-width: 50%;
}

ul {
  margin-bottom: 50px;
}

li {
  font-size: 1.4rem;
  display: inline-block;
}


li::after {
  content: '|';
  margin: 0 2ch;
}

li:last-of-type::after {
  content: '';
}

@media only screen and (max-width: 600px) {
  li {
    display: block;
  }

  li::after {
    content: '';
  }

  .about--image {
    display: none;
  }
}

/* --------------------------
------  PROJECTS PAGE   ------ 
--------------------------  */

.project-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .project-card {
    grid-template-columns: 100%;
  }
}

.project-card--title,
.contact--title {
  font-size: 4rem;
  font-weight: 400;
}

.project-card--title,
.project-card--subtitle {
  grid-column: span 2;
}

.project-card--subtitle,
.contact--subtitle {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.project-card--content {
  align-self: center;
  padding: 0 30px;
}

.project-card--screenshot {
  max-height: 400px;
  max-width: 500px;
}

.project-card--description {
  font-size: 1.4rem;
  text-align: left;
}

.project-card--link {
  padding: 5px 15px;
  margin-right: 20px;
  font-size: 1.4rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-decoration: none;
  color: #111;
}

.project-card--link:hover {
  background: #bada55;
  color: #eee;
}

.project-card--awards {
  position: absolute;
  max-width: 100px;
  top: -40px;
  left: 20%;
  font-size: 1.4rem;
}

.image-container {
  position: relative;
  margin-top: 2rem;
}

/* ----------------------------------
---------  CONTACT PAGE    -----------
-------------------------------    */

.contact {
  margin-top: 20%;
}

.contact--image {
  width: 80px;
  height: 80px;
  margin: 10px;
}